@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Mukta:wght@200;400;700&display=swap");

body {
  background: #e0e0e0;
  color: #383838;
  font-family: "Mukta", sans-serif;
  padding: 40px;
  margin: 0;
}
h1,
h2 {
  color: rgb(41, 133, 145);
  font-family: "Lobster", cursive;
  font-size: 4rem;
  line-height: 3.375rem;
  margin-top: 0;
}

h2 {
  color: #202020;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0;
}

#dark-mode {
  border: none;
  width: 90px;
  height: 90px;
  position: fixed !important;
  top: 0px;
  right: 40px;
  background-color: #d2d2d2;
  background-image: url(./assets/lamp_on.svg);
  border-radius: 0 0 50px 50px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
}

.dark-mode-active {
  background-image: url(./assets/lamp_off.svg) !important;
}

#dark-mode img {
  width: 100%;
  height: 100%;
}

#agregar {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(41, 133, 145);
  background-image: -o-linear-gradient(
      70deg,
      rgba(113, 159, 176, 1) 0%,
      rgba(114, 131, 162, 0.9415966215587798) 60%,
      rgba(114, 106, 149, 0) 100%
    ),
    -o-linear-gradient(83deg, rgba(53, 31, 57, 1) 0%, rgba(
            114,
            131,
            162,
            0.9415966215587798
          )
          60%, rgba(114, 106, 149, 0) 100%),
    -o-linear-gradient(231deg, rgba(53, 31, 57, 1) 0%, rgba(53, 31, 57, 1) 46%, rgba(
            114,
            106,
            149,
            0
          )
          100%);
  background-image: linear-gradient(
      20deg,
      rgba(113, 159, 176, 1) 0%,
      rgba(114, 131, 162, 0.9415966215587798) 60%,
      rgba(114, 106, 149, 0) 100%
    ),
    linear-gradient(
      7deg,
      rgba(53, 31, 57, 1) 0%,
      rgba(114, 131, 162, 0.9415966215587798) 60%,
      rgba(114, 106, 149, 0) 100%
    ),
    linear-gradient(
      219deg,
      rgba(53, 31, 57, 1) 0%,
      rgba(53, 31, 57, 1) 46%,
      rgba(114, 106, 149, 0) 100%
    );
  z-index: 9999;
}

form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: auto;
}

form h2 {
  color: #fff;
  font-size: 4rem;
  line-height: 3.5rem;
}

label {
  font-weight: 700;
  font-size: 1.2rem;
}

input,
textarea {
  border-radius: 50px;
  width: 300px;
  padding: 5px 10px;
  border: none;
}

#file {
  background-color: #94acbd;
  padding: 15px 10px;
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #6a8b48;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #fff;
}

#addButton {
  border-radius: 50%;
  background-color: rgb(41, 133, 145);
  width: 60px;
  height: 60px;
  padding: 10px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 99999;
}

#addButton img {
  width: 100%;
  height: 100%;
}

.cardContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 30px;
  justify-items: center;
}

.card {
  position: relative;
  text-align: left;
  width: 100%;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: grey;
  overflow: hidden;
  height: 200px;
  border-radius: 20 px;
  -webkit-box-shadow: 5px 5px 10px #808080, -5px -5px 10px #ffffff;
  box-shadow: 5px 5px 10px #808080, -5px -5px 10px #ffffff;
  border: solid 7px #e0e0e0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-image: -o-linear-gradient(
    11deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(224, 224, 224, 1) 60%,
    rgba(224, 224, 224, 0.5) 70%,
    rgba(224, 224, 224, 0.3) 80%
  );
  background-image: linear-gradient(
    79deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(224, 224, 224, 1) 60%,
    rgba(224, 224, 224, 0.5) 70%,
    rgba(224, 224, 224, 0.3) 80%
  );
}

.info {
  width: 50%;
  padding: 20px;
  line-height: 1rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 9;
}

.info h2,
.info p {
  margin: 0;
  line-height: 1rem;
}

.info span {
  font-family: "Mukta", sans-serif;
  font-weight: normal;
  color: grey;
  font-size: 0.8rem;
}

.info p:last-child {
  font-size: 0.8rem;
}

.picture {
  width: 50%;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.showHide {
  display: none;
}
.rotate {
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg);
  background-color: rgb(134, 67, 67) !important;
}

/*===============================================
Telefono
===============================================*/
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .cardContainer {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  #addButton {
    right: 20px;
    bottom: 20px;
  }
}

/*===============================================
lightbox
===============================================*/
.lightbox {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.lightboxActive {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #e0e0e0a1;
}

.lightboxCard {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
  background: #e0e0e0;
  z-index: 999;
}

.lightboxCard .gradient {
  background-image: -o-linear-gradient(
    11deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(224, 224, 224, 1) 20%,
    rgba(224, 224, 224, 0.5) 30%,
    rgba(224, 224, 224, 0.3) 40%
  );
  background-image: linear-gradient(
    79deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(224, 224, 224, 1) 20%,
    rgba(224, 224, 224, 0.5) 30%,
    rgba(224, 224, 224, 0.3) 40%
  );
}

.lightboxCard .picture {
  width: 100% !important;
}

.lightboxCard .info {
  position: absolute;
  left: 0;
  bottom: 0;
}

.lightboxCard h2 {
  font-size: 2.5rem;
}

.lightboxCard .info * {
  margin-top: 10px;
}

.dark-mode {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 100vh;
  background: #1e1e1e;
  position: relative;
}
